@charset "UTF-8";
/*-------------------------------------------
中国語ページの設定
-------------------------------------------*/
/*-------------------------------------------
ページ共通の設定
-------------------------------------------*/
/* 予約ボタン */

.reserve-button-inner {
    padding-right: 16px;
    letter-spacing: 0;
}


.vertical .reserve-button-inner {
    padding-top: 8px;
    padding-right: 0;
    letter-spacing: 0.375em;
}

/*-------------------------------------------
hero-box
-------------------------------------------*/

.hero-explain {
    padding-left: 3.72%;
}

.explain-title {
    letter-spacing: 0.09375em;

}

.explain-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 12px;
    letter-spacing: 0.1em;
    line-height: 1.5;
}

/*-------------------------------------------
menu-highlight
-------------------------------------------*/

.center-shift .menu-text-box {
    max-width: 690px;
}

.menu-text:nth-child(n+2) {
    margin-top: 16px;
}

/*-------------------------------------------
footer
-------------------------------------------*/

.copyright,
.policy-link {
    letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
/*-------------------------------------------
ページ共通の設定
-------------------------------------------*/
/* 予約ボタン */
    .vertical .reserve-button-inner {
        padding-top: 0;
        padding-right: 13px;
        letter-spacing: 0;
    }

/*-------------------------------------------
hero-box
-------------------------------------------*/
    .hero-explain {
        padding: 37px 20px 35px 26px;
    }

/*-------------------------------------------
restaurant-info
-------------------------------------------*/
    .tel-text {
        font-size: 18px;
        margin-bottom: 11px;
    }

}