@charset "UTF-8";

/*-------------------------------------------
ページ共通の設定
-------------------------------------------*/
.body-base  {
  font-family: "Shippori Mincho", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", serif;
  font-weight: 500;
  font-size: 16px;
  color: #3A3A3A;
  overflow: visible;
}

.body-hidden,
.body-base.open {
    overflow: hidden;
}

/* ナビゲーション */
.nav-wrap {
    max-width: 712px;
    margin: auto;
}

.nav-wrap.header-nav {
    position: absolute;
    bottom: 33px;
    left: 0;
    right: 0;
}

.nav-items {
    display: flex;
    justify-content: center;
    gap:min(5.7vw,110px);
}

.nav-item {
    color: #FFFFFF;
}

/* 予約ボタン */
.reserve-button {
    position: relative;
    display: block;
    width: 252px;
    height: 52px;
    margin: 0 auto;
    padding: 3px;
    border: solid 1px #3A3A3A;
    background-color: rgba(255,255,255,0.9);
}

.reserve-button.vertical {
    width: 52px;
    height: 252px;
    padding: 5px;
}

.reserve-button:hover {
    opacity: 1;
    background-color: #303231;
}

.reserve-button::before,
.reserve-button::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    transform: rotate(135deg);
    border-top: solid 1px #3A3A3A;
    border-left: solid 1px #3A3A3A;
    transition: all 0.3s;
}

.reserve-button::before {
    right: 37px;
}

.reserve-button::after {
    right: 32px;
}

.reserve-button.vertical::before {
    top: auto;
    left: 0;
    right: 2px;
    bottom: 22px;
}

.reserve-button.vertical::after {
    top: auto;
    left: 0;
    right: 12px;
    bottom: 22px;
}

.reserve-button:hover::after,
.reserve-button:hover::before {
    border-top: solid 1px #FFFFFF;
    border-left: solid 1px #FFFFFF;
}

.reserve-button-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: solid 1px #3A3A3A;
    font-weight: bold;
    line-height: 1.3;
    color: #3A3A3A;
    transition: all 0.3s;
    letter-spacing: 2px;
}

.vertical .reserve-button-inner {
    letter-spacing: 4.8px;
    padding-top: 14px;
    justify-content: initial;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.reserve-button:hover .reserve-button-inner {
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
}

/* セクションタイトル */
.section-title {
    position: relative;
    width: fit-content;
    font-size: 48px;
    letter-spacing: 4px;
    margin: 0 auto 40px;
}

.section-title::before,
.section-title::after {
    position: absolute;
    content: '';
    width: 55px;
    height: 55px;
    background-position: center;
    top: 0;
    bottom: 0;
    margin: auto;
}

.section-title::before {
    left: -83px;
}

.section-title::after {
    right: -79px;
}

.shuriken::before,
.shuriken::after {
    background-image: url(../img/shuriken.svg);
}

.shuriken-white::before,
.shuriken-white::after {
    background-image: url(../img/shuriken-white.svg);
}

/* スクロールで要素をフェードインさせる設定 */
.fade {
  opacity: 0;
  transition: all 3s;
}

.fade-right {
  transform: translateX(20px);
  opacity: 0;
  transition: all 3s;
}

.fade-left {
  transform: translateX(-20px);
  opacity: 0;
  transition: all 3s;
}

.fade-in {
  transform: none;
  opacity: 1;
}

/*-------------------------------------------
op-box
-------------------------------------------*/
.op-box {
    display: grid;
    place-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #FFFFFF;
    transition: all 0.3s;
}

.op-title {
    position: absolute;
    opacity: 0;
    width: 15%;
    max-width: 200px;
    min-width: 150px;
    z-index: 1100;
    transition: all 0.3s;
    animation: titleAnimation 4s forwards;
}

@keyframes titleAnimation {
    0% {
        opacity: 0;
        filter: blur(20px);
        transform: translateY(-30px);
    }
    33% {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
    66% {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        filter: blur(20px);
        transform: translateY(0);
    }
}

/*-------------------------------------------
header
-------------------------------------------*/
.header {
    position: relative;
    height: 900px;
    overflow: hidden;
    margin: 0 auto;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1864px;
    margin: 0 auto;
    padding-top: 56px;
    padding-left: min(3.96vw,76px);
    padding-right: 20px;
}

.main-title {
    width: min(19.5vw,200px);
    min-width: 170px;
}

.menu-button {
    display: none;
}

.action-buttons {
    display: flex;
    flex-direction: column-reverse;
}

.reserve-box {
    width: fit-content;
    margin-left: auto;
}

.reserve-tel {
    display: none;
}

.language-buttons {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 38px;
}

.language-button {
    position: relative;
    display: grid;
    place-items: center;
    width: 152px;
    height: 52px;
    border: solid 1px #3A3A3A;
    line-height: 1.3;
    letter-spacing: 1.6px;
    background-color: rgba(255,255,255,0.9);
    padding-left: 22px;
    padding-bottom: 2px;
    font-weight: bold;
}

.language-button:hover {
    color: #FFFFFF;
    background-color: #303231;
}

.language-button::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 24px;
    margin: auto;
    width: 12px;
    height: 12px;
    transform: rotate(135deg);
    border-top: solid 1px #3A3A3A;
    border-left: solid 1px #3A3A3A;
    transition: all 0.3s;
}

.language-button:hover::before {
    border-top: solid 1px #FFFFFF;
    border-left: solid 1px #FFFFFF;
}

.slide-container {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 1920px;
    overflow: hidden;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: -1;
}

.slick-list {
    inset: 0;
    margin: auto;
}

.slide-items-sp {
    display: none;
}

/*-------------------------------------------
main
-------------------------------------------*/

.main {
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
    background-position:top center;
    background-size: 780px 1350px;
    overflow: hidden;
}

.control-box {
    position: fixed;
    max-width: 1864px;
    bottom: 33px;
    margin: auto;
    left: 0;
    right: 0;
    padding-inline: 20px;
    z-index: 20;
    transition: all 0.3s;
    pointer-events: none;
}

.control-item {
    visibility: hidden;
    opacity: 0;
}

.top-button {
    position: relative;
    display: block;
    margin-left: auto;
    width: 67px;
    height: 67px;
    background-color: #FFFFFF;
    pointer-events: auto;
}

.top-button::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 24px;
    background-image: url(../img/top-arrow-pc.svg);
    background-position: center;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
}

.top-button-text {
    display: none;
}

.top-button.show-element {
    visibility: visible;
    opacity: 1;
}


/*-------------------------------------------
hero-box
-------------------------------------------*/

.hero-box {
    display: flex;
    max-width: 1711px;
    margin: 0 auto;
}

.hero-head {
    display: flex;
    align-items: center;
    padding-top: 0.85%;
    width: 50%;
}

.hero-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 56px;
    margin: auto;
    width: min(27.7vw,284px);
    min-width: 240px;
}

.hero-img {
    max-width: 760px;
}

.hero-explain {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
    padding-top: 46px;
    padding-bottom: 13px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    z-index: 10;
}

.hero-explain-inner {
    display: flex;
    flex-direction: column;
    width: 67%;
    justify-content: flex-end;
    max-width: 475px;
}

.hero-explain::after {
    position: absolute;
    content: '';
    width: 50vw;
    transition: none;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    background-image: url(../img/hero-bg-pc.jpg);
    top: 0;
    left: 0;
    z-index: -1;
}

.explain-title {
    font-size: min(3vw,32px);
    letter-spacing: 10px;
    margin-left: 18px;
}

.explain-text {
    font-size: min(1.5vw,16px);
    padding-top: 33px;
    letter-spacing: 3px;
    line-height: 2;
}

.explain-text:nth-of-type(1) {
    margin-left: 16px;
}

/*-------------------------------------------
link-box
-------------------------------------------*/
.link-box {
    display: grid;
    place-items: center;
    background-image: url(../img/flower-diamond-bg.jpg);
    background-size: 1920px 650px;
    background-repeat: repeat;
    min-height: 350px;
}

.link-box-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    aspect-ratio: 1920/600;
    gap: 25px;
    width: 100%;
    margin: 0 auto;
}

.link-item {
    position: relative;
    display: grid;
    place-items: center;
    width: 25%;
    max-width: 350px;
    min-width: 192px;
    aspect-ratio: 1/1;
    font-size: min(2.86vw,40px);
    letter-spacing: 4px;
    color: #FFFFFF;
    border-radius: 50%;
    transition: all 0.3s;
    overflow: hidden;
    z-index: 10;
}

.link-item::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    background-size: 100%;
    transition: all 0.3s;
}

.link-item.menu::after {
    background-image: linear-gradient(rgba(30, 29, 29, 0.39), rgba(30, 29, 29, 0.39)),url(../img/menu.jpg);
}

.link-item.map::after {
    background-image: linear-gradient(rgba(30, 29, 29, 0.39), rgba(30, 29, 29, 0.39)),url(../img/access.jpg);
}

.link-item.reserve::after {
    background-image: linear-gradient(rgba(30, 29, 29, 0.39), rgba(30, 29, 29, 0.39)),url(../img/reserve.jpg);
}

.link-item:hover {
    opacity: 1;
}

.link-item:hover::after {
    filter: brightness(130%) opacity(95%);
    transform: scale(1.2);
}

/*-------------------------------------------
menu-highlight
-------------------------------------------*/
.menu-highlight {
    max-width: 1140px;
    margin: 0 auto;
    padding: 66px 20px 80px 20px;
}

.menu-items {
    margin-bottom: 40px;
}

.menu-item:nth-child(n+2) {
    margin-top: 56px;
}

.menu-item {
    display: flex;
    gap: 5.6%;
}

.left-shift {
    justify-content: flex-end;
}

.right-shift {
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.center-shift {
    flex-direction: column-reverse;
}

.menu-title {
    font-size: 24px;
    margin-bottom: 25px;
}

.center-shift .menu-title {
    margin-top: 25px;
    text-align: center;
}

.left-shift .menu-text-box,
.right-shift .menu-text-box {
    max-width: 440px;
}

.center-shift .menu-text-box {
    margin: 0 auto;
    max-width: 791px;
}

.menu-text {
    letter-spacing: 1.6px;
    line-height: 1.45;
}

.menu-text:nth-child(n+2) {
    margin-top: 23px;
}

.left-shift .menu-img,
.right-shift .menu-img {
    max-width: 550px;
    align-self: center;
}

.menu-detail-link {
    position: relative;
    display: grid;
    place-items: center;
    width: fit-content;
    min-width: 270px;
    height: 50px;
    margin: 0 auto;
    background-color: #191B1A;
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 1.8px;
}

.menu-detail-link:hover {
    background-color: #E8E6E6;
    color: #3A3A3A;
    opacity: 1;
}

.menu-detail-link::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    transform: rotate(135deg);
    border-top: solid 1px #FFFFFF;
    border-left: solid 1px #FFFFFF;
    top: 2px;
    bottom: 0;
    margin: auto;
    right: 45px;
    transition: all 0.3s;
}

.menu-detail-link:hover::after {
    border-top: solid 1px #3A3A3A;
    border-left: solid 1px #3A3A3A;
}

/*-------------------------------------------
restaurant-info
-------------------------------------------*/
.restaurant-info {
    padding-top: 67px;
    background-image: url(../img/flower-diamond-bg.jpg);
    background-size: 1920px 650px;
    background-repeat: repeat;
    color: #FFFFFF;
}

.info-item-wrap {
    display: flex;
    max-width: 1045px;
    margin: 0 auto;
    padding-inline: 20px;
    padding-bottom: 39px;
}

.info-head {
    width: 50%;
    max-width: 440px;
}

.info-img {
    margin-bottom: 32px;
    opacity: 0.8;
}

.info-tel {
    padding-top: 23px;
    padding-bottom: 10px;
    text-align: center;
    border-top: solid 1px #FFFFFF;
    border-bottom: solid 1px #FFFFFF;
    margin-bottom: 32px;
}

.tel-text {
    font-size: 18px;
    margin-bottom: 10px;
}

.tel-number {
    font-size: min(4.42vw,48px);
    letter-spacing: 3.5px;
    white-space: nowrap;
}

.info-items {
    width: 45%;
    max-width: 452px;
    margin-left: auto;
}

.info-item {
    display: flex;
    width: 100%;
}

.info-item:not(.info-item:last-child) {
    margin-bottom: 39px;
}

.info-header {
    width: 28%;
    max-width: 126px;
    min-width: 90px;
    font-weight: normal;
}

.info-data {
    width: 235px;
}

.google-map {
    width: 100%;
    height: 500px;
    vertical-align: bottom;
}

/*-------------------------------------------
footer
-------------------------------------------*/
.footer {
    background-image: url(../img/flower-diamond-bg.jpg);
    background-size: 1920px 650px;
    background-repeat: repeat;
    color: #FFFFFF;
    padding-top: 54px;
    padding-bottom: 16px;
}

.footer-legal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
}

.copyright {
    font-size: 12px;
    margin-bottom: 8px;
}

.policy-link {
    font-size: 14px;
}

/*-------------------------------------------
スマートフォン
-------------------------------------------*/

@media screen and (max-width: 767px) {

/*-------------------------------------------
ページ共通の設定
-------------------------------------------*/

    /* ナビゲーション */
    .nav-wrap.header-nav {
        position: static;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .nav-item {
        font-size: 24px;
        color: #3A3A3A;
    }

    /* 予約ボタン */
    .reserve-button.vertical {
        width: 252px;
        height: 52px;
        padding: 3px;
    }

    .reserve-button::before,
    .reserve-button.vertical::before {
        top: 0;
        left: auto;
        right: 45px;
        bottom: 0;
    }

    .reserve-button::after,
    .reserve-button.vertical::after {
        top: 0;
        left: auto;
        right: 40px;
        bottom: 0;
    }

    .reserve-button-inner,
    .vertical .reserve-button-inner {
        letter-spacing: 0;
        padding-top: 0;
        padding-right: 15px;
        justify-content: center;
        -ms-writing-mode: initial;
        writing-mode: initial;
        text-orientation: initial;
    }

    /* セクションタイトル */
    .section-title {
        font-size: 28px;
        letter-spacing: 2.8px;
        margin: 0 auto 30px;
    }

    .section-title::before,
    .section-title::after {
        width: 48px;
        height: 48px;
        background-size: cover;
        top: 3px;
    }

    .section-title::before {
        left: -55px;
    }

    .section-title::after {
        right: -55px;
    }

/*-------------------------------------------
header
-------------------------------------------*/

    .header {
        height: 810px;
    }

    .header-inner {
        justify-content: center;
        padding-top: 16px; 
        padding-left: 0;
        padding-right: 0;
    }

    .main-title {
        margin-top: 114px;
        width: 180px;
    }

    .menu-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 100;
        transition: all 0.3s;
    }
    
    .menu-box.open {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.9);
        visibility: visible;
    }

    .menu-inner {
        height: 100%;
        max-height: 810px;
        padding-top: 16px;
        padding-inline: 16px;
        padding-bottom: 59px;
    }
    
    .menu-box.open .menu-inner {
        overflow-x: auto;
    }

    .menu-button {
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
        width: 50px;
        height: 50px;
        border: solid 1px #3A3A3A;
        margin-left: auto;
        background-color: rgba(255, 255, 255, 0.9);
    }

    [class*="menu-line"] { 
        display: block;
        width: 22px;
        height: 1px;
        background-color: #3A3A3A;
        transition: all 0.3s;
    }

    .menu-box.open .menu-line1 {
        width: 27px;
        transform: translateY(8px) rotate(36deg);
    }

    .menu-box.open .menu-line2 {
        opacity: 0;
    }

    .menu-box.open .menu-line3 {
        width: 27px;
        transform: translateY(-8px) rotate(-36deg);
    }

    .nav-wrap {
        opacity: 0;
        visibility: hidden;
        max-width: 246px;
        margin: 0 auto 46px;
        padding-top: 18px;
        transition: all 0.3s;
    }
    
    .menu-box.open .nav-wrap {
        opacity: 1;
        visibility: visible;
    }
    
    .action-buttons {
        max-width: 268px;
        margin: 0 auto;
        flex-direction: column;
        transition: all 0.3s;
    }
    
    .reserve-box {
        opacity: 0;
        visibility: hidden;
        margin-bottom: 50px;
        margin-left: 0;
    }
    
    .menu-box.open .reserve-box {
        opacity: 1;
        visibility: visible;
    }
    .reserve-tel {
        display: block;
        text-align: center;
    }

    .reserve-text {
        font-size: 14px;
        margin-bottom: 16px;
        font-weight: bold;
    }

    .reserve-number {
        font-size: 28px;
        letter-spacing: 2.3px;
        white-space: nowrap;
        margin-bottom: 9px;
    }

    .language-buttons {
        flex-direction: row;
        width: fit-content;
        padding-left: 0;
        margin: 163px auto 0;
        gap: 27px;
        transition: all 0.3s;
    }

    .menu-box.open .language-buttons {
        margin: 0;
        flex-direction: column;
        gap: 15px;
    }

    .language-button {
        width: 102px;
        height: 52px;
        padding-left: 10px;
    }

    .language-button::before {
        left: -1px;
    }
    .slide-container {
        width: 100vw;
        min-width: 100vw;
    }

    .slide-items {
        display: none;
    }

    .slide-items-sp {
        display: block;
    }
    .slide-item {
        height: 810px;
    }

    .slide-item img { 
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }

/*-------------------------------------------
main
-------------------------------------------*/
    .control-box {
        visibility: hidden;
        opacity: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: min(18.5%,100px);
        bottom: 0;
        height: 50px;
        padding-inline: 0;
        padding-bottom: 4px;
        background-color: #3A3A3A;
        z-index: 100;
        transition: all 0.3s;
    }

    .control-box.show-element,
    .show-element .control-item {
        visibility: visible;
        opacity: 1;
    }

    .control-item {
        pointer-events: auto;
        position: relative;
        display: grid;
        align-items: flex-end;
        width: fit-content;
        color: #FFFFFF;
        font-size: 12px;
        text-align: center;
        height: 100%;
    }

    .control-item:hover {
        opacity: 1;
    }
    
    .control-item::after {
        position: absolute;
        content: '';
        width: 23px;
        height: 20px;
        left: 0;
        right: 0;
        bottom: 18px;
        margin: auto;
        background-position: center;
    }
    
    .top-button {
        margin-left: 0;
        background-color: initial;
    }
    
    .top-button-text {
        display: block;
    }
    
    .reserve-item::after {
        background-image: url(../img/calendar.svg);
    }

    .tel-item::after {
        background-image: url(../img/tel.svg);
    }

    .map-item::after {
        background-image: url(../img/map.svg);
    }

    .top-button::after {
        background-image: url(../img/top-arrow-sp.svg);
    }


/*-------------------------------------------
hero-box
-------------------------------------------*/

    .hero-box {
        flex-direction: column;
    }

    .hero-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0 13px 40px 13px;
        margin: 0 auto;
        max-width: 600px;
    }

    .hero-text {
        display: flex;
        justify-content: center;
        position: static;
        margin: 0 auto 40px;
        width: 100%;
        min-width: 100%;
        padding-top: 40px;
    }
    
    .hero-text img {
        max-width: 150px;
        width: 24.36vw;
    }
    
    .hero-explain {
        width: 100%;
        -ms-writing-mode: initial;
        writing-mode: initial;
        text-orientation: initial;
        background-size: cover;
        background-position: center;
        background-image: url(../img/hero-bg-sp.jpg);
        padding: 37px 20px 37px 26px;
    }

    .hero-explain-inner {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    .hero-explain::after {
        display: none;
    }

    .explain-title {
        font-size: 28px;
        letter-spacing: 2.8px;
        text-align: center;
        margin-left: 0;
    }

    .explain-text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 14px;
        letter-spacing: 0.7px;
        line-height: 1.1;
        padding-top: 16px;
    }

    .explain-text:nth-of-type(1) {
        margin-left: 0;
    }

    .br-pc {
        display: none;
    }

/*-------------------------------------------
link-box
-------------------------------------------*/
    .link-box {
        display: none;
    }

/*-------------------------------------------
menu-highlight
-------------------------------------------*/
    .menu-highlight {
        max-width: 600px;
        padding: 43px 24px 40px 24px;
    }

    .menu-items {
        margin-bottom: 30px;
    }

    .menu-item:nth-child(n+2) {
        margin-top: 38px;
    }

    .left-shift,
    .right-shift,
    .center-shift {
        flex-direction: column-reverse;
    }

    .menu-img img:not(.sushi img,.course img) {
        aspect-ratio: 341/217;
        object-fit: cover;
    }

    .menu-text-box {
        padding-top: 16px;
        margin: 0 auto;
    }
    
    .menu-title {
        font-size: 21px;
        margin-bottom: 17px;
        text-align: center;
    }
    
    .center-shift .menu-title {
        margin-top: 0;
    }
    
    .center-shift .menu-text-box {
        max-width: 440px;
    }

    .menu-text {
        font-size: 14px;
        letter-spacing: 0.7px;
        line-height: 1.1;
    }

    .menu-text:nth-child(n+2) {
        margin-top: 14px;
    }

    .menu-detail-link {
        width: 100%;
        max-width: 340px;
        padding-right: 22px;
    }

    .menu-detail-link::after {
        right: 49px;
    }

/*-------------------------------------------
restaurant-info
-------------------------------------------*/
    .restaurant-info {
        padding-top: 43px;
    }

    .info-item-wrap {
        display: block;
        max-width: 500px;
        padding-inline: 24px;
        padding-bottom: 41px;
    }

    .info-head {
        width: 100%;
        max-width: 100%;
        margin-bottom: 39px;
    }

    .info-img {
        margin-bottom: 23px;
    }

    .info-tel {
        padding-top: 15px;
        padding-bottom: 8px;
        margin-bottom: 14px;
    }
    
    .tel-text {
        font-size: 14px;   
        margin-bottom: 17px;
    }

    .tel-number {
        font-size: 28px;
        letter-spacing: 2.3px;
    }

    .info-items {
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
        font-size: 14px;
        padding-left: 35px;
        padding-right: 15px;
    }

    .info-item:not(.info-item:last-child) {
        margin-bottom: 16px;
    }

    .info-header {
        max-width: 94px;
        min-width: 78px;
        width: 39%;
    }

/*-------------------------------------------
footer
-------------------------------------------*/

    .footer {
        padding-top: 24px;
        padding-bottom: 89px;
    }

    .footer-nav {
        display: none;
    }

    .footer-legal {
        margin-top: 0;
    }



}